<!DOCTYPE html>
<html lang="en" ng-app="AngularFlaskTest">
<head>
	<meta charset="UTF-8">

	<!-- AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>

	<script src="/static/js/app.js"></script>
	<script src="/static/js/route-config.js"></script>
	<script src="/static/js/interpolation-config.js"></script>
	<script src="/static/js/controllers/home-controller.js"></script>

	<title>Angular &amp; Flask - Test</title>
</head>
<body>
	<div ng-view></div>
</body>
</html>
